//- Product page that accepts some variables and renders
//- a product page.
div.rsProduct
  
    //- Nav element that holds images for the product.
    nav
      div.rsProduct--mobileName= val.name
    
    nav
      each img in val.images
      
        - var n = 0
        while n < 1
          img.rsProduct--primaryImage(src="#{img}")
          input(type="hidden", value="#{n++}")
  
    
    //- Nav that holds the product name, sizes and purchase button.
    nav      
      div.rsProduct--desktopName= val.name
      div.rsProduct--desktopDesc= val.desc

      div.rsProduct--sizes
        if val.sizes
          each size, sizeName in val.sizes
            if sizeName != 'QUOTE'
              span.rsProduct--addItemButton
                label.rsProduct--addItemButton__sizeName= sizeName
                label.rsProduct--addItemButton__productPrice
                  | $#{val.price}/ea
                if val.delivery_method
                  button.rsProduct--addItemButton__addToCart(id="#{val.id}_#{sizeName}_#{val.delivery_method}", name="#{val.primary_image}", title="#{val.price}_#{val.name}")
                    i.fa.fa-plus-circle
                    | add to cart
                else 
                  button.rsProduct--addItemButton__addToCart(id="#{val.id}_#{sizeName}", name="#{val.primary_image}", title="#{val.price}_#{val.name}")
                    i.fa.fa-plus-circle
                    | add to cart
      
        
